section.bracelet-guide {
  h2.title {
    font-size: 46px;

    @media (max-width: 1099px) {
      font-size: 30px;
    }
  }
  div.desc {
    color: #2A2A5F;
    font-size: 16px;
  }
}

section.bracelet-guide--hero {
  padding: 100px;
  text-align: center;
  position: relative;
  background-color: #D2FDED;

  @media (max-width: 1099px) {
    padding: 50px 80px;
  }

  h1.title {
    @media (max-width: 1099px) {
      font-size: 30px;
    }
  }
  img.floating {
    position: absolute;

    &.floating-1 {
      left: 0;
      bottom: -140px;
      width: 200px;

      @media (min-width: 1100px) and (max-width: 1500px) {
        bottom: -105px;
        width: 160px;
      }
      @media (max-width: 1099px) {
        width: 75px;
        bottom: -35px;
      }
    }
    &.floating-2 {
      right: 0;
      top: 0;
      width: 500px;
      z-index: 999;

      @media (min-width: 1100px) and (max-width: 1500px) {
        width: 375px;
      }
      @media (max-width: 1099px) {
        width: 140px;
      }
    }
  }
  &.chain-guide--hero {
    h1.title {
      line-height: 1;
    }
    img.floating.floating-2 {
      width: 350px;

      @media (max-width: 1099px) {
        width: 60px;
        right: 25px;
      }
    }
  }
}

section.product-image-text.bracelet-guide--image-text {
  padding: 100px 6vw;

  @media (max-width: 1099px) {
    padding: 60px 24px 30px;
  }

  div.image-wrapper {
    div.bg-image {
      border-radius: 0;
    }
  }
  h2.title {
    @media (max-width: 1099px) {
      text-align: center;
      font-size: 24px;
      line-height: 1;
      margin-bottom: 0;
    }
  }

  &.bracelet-guide--image-text-1 {
    @media (max-width: 1099px) {
      div.wrapper {
        display: flex;
        flex-direction: column;
      }
      div.col {
        &.left {
          order: 2;
        }
        &.right {
          order: 1;
        }
      }
      div.image-wrapper {
        div.bg-image {
          top: 7%;
          bottom: auto;
        }
        img {
          padding-top: 7%;
          padding-bottom: 0;
        }
      }
    }
  }
}

section.product-image-text.bracelet-guide--image-text-2 {
  padding: 114px 6vw 0;

  @media (max-width: 1099px) {
    padding: 60px 24px;
  }

  h2.title {
    @media (max-width: 1099px) {
      text-align: center;
      line-height: 38px;
    }
  }
  h2.title.top {
    text-align: center;
    max-width: 525px;
    margin: 0 auto 70px;

    @media (max-width: 1099px) {
      line-height: 38px;
      margin-bottom: 30px;
    }
  }
  div.image-wrapper {
    @media (max-width: 1099px) {
      margin: 0 30px;
    }
  }

  &.lower {
    div.image-wrapper {
      div.bg-image {
        border-radius: 600px 600px 0 0 !important;
      }
    }
  }
}

section.product-image-text.chain-guide--image-text {
  padding: 80px 115px;
  position: relative;

  @media (max-width: 1099px) {
    padding: 60px 24px;
  }

  h2.title {
    padding-left: 4vw;
    text-align: left;

    @media (max-width: 1099px) {
      padding: 0;
      margin-top: 30px;
      margin-bottom: 0;
      font-size: 30px;
      line-height: 38px;
    }
  }
  div.desc {
    padding-left: 4vw;
  }
  h2.title, div.desc {
    @media (max-width: 1099px) {
      padding: 0 6vw;
    }
  }
  div.wrapper {
    @media (max-width: 1099px) {
      overflow: visible;
      white-space: normal;
    }
  }
  div.col {
    @media (max-width: 1099px) {
      float: none;
    }
  }
  img.floating {
    width: 80px;
    position: absolute;
    right: 115px;
    bottom: 3vw;

    &.floating-1 {
      @media (max-width: 1099px) {
        position: initial;
        float: right;
      }
    }
    &.floating-2 {
      width: 280px;
      top: 0;
      left: 33vw;
      bottom: auto;
      right: auto;

      @media (max-width: 1099px) {
        width: 110px;
        left: auto;
        right: 0;
        z-index: 999;
      }
    }
  }
  div.image-wrapper {
    div.bg-image, img.bg-image {
      width: 100%;
      border-radius: 0;
      top: 7%;
      height: 86%;

      @media (max-width: 1099px) {
        padding-right: 0;
        background-color: #D2FDED;
      }
    }
    img:not(.bg-image) {
      padding-right: 7%;
      padding-bottom: 0;
    }
  }
  &.lower {
    div.image-wrapper {
      img:not(.bg-image) {
        @media (max-width: 1099px) {
          max-width: none;
          width: calc(100% + 63px);
          margin-left: -40px;
        }
      }
    }
  }
  &.upper {
    @media (max-width: 1099px) {
      padding: 25px 25px 0;

      div.wrapper {
        display: table;
      }
      div.col {
        float: none;

        &.left {
          display: table-footer-group;
        }
        &.right {
          display: table-header-group;
        }
      }
    }

    div.image-wrapper {
      div.bg-image, img.bg-image {
        top: 0;
        height: 93%;
        width: 93%;
        left: auto;
        right: 0;
        position: absolute;
        background-color: transparent;
        opacity: 1;
      }
      img:not(.bg-image) {
        padding-left: 0;
        padding-top: 7%;
      }
    }
  }
}

section.bracelet-guide--styles {
  padding: 50px;

  @media (max-width: 1099px) {
    padding: 0;
  }

  div.inner-wrapper {
    background-color: #F9F9F9;
    padding: 60px 70px 70px;

    @media (max-width: 1099px) {
      padding: 60px 0;
    }

    h2.title {
      text-align: left;

      @media (max-width: 1099px) {
        text-align: center;
      }
    }

    div.wrapper {
      @media (max-width: 1099px) {
        white-space: normal;
      }
    }
    div.col {
      width: calc(100% / 3);
      vertical-align: top;

      @media (max-width: 1099px) {
        width: 100%;
      }
    }
    img {
      width: 295px;
      margin: 0 auto;
      display: block;

      @media (max-width: 1099px) {
        width: 210px;
        margin-top: 50px;
      }
    }
    div.title {
      text-align: center;
      font-size: 32px;
      color: #2A2A5F;
      font-weight: 500;
      margin: 40px 0 20px;

      @media (max-width: 1099px) {
        font-size: 24px;
      }
    }
    div.desc {
      text-align: center;
    }
  }

  &.chain-guide--styles {
    padding: 50px 15px;

    @media (max-width: 1099px) {
      padding: 60px 0 0;
    }

    div.inner-wrapper {
      background: transparent;
      padding: 60px 70px 70px;

      @media (max-width: 1099px) {
        padding: 0;
      }
      img {
        border-radius: 400px;

        @media (max-width: 1099px) {
          margin: 0;
        }
      }
      h2.title {
        text-align: center;

        @media (max-width: 1099px) {
          max-width: 300px;
          margin: 0 auto;
        }

        p {
          font-size: 46px;
          margin: 0;
          line-height: .95;

          @media (max-width: 1099px) {
            font-size: 30px;
          }
        }
        i, em {
          font-size: 48px;
          vertical-align: middle;
          font-family: 'Sacramento', cursive;
          font-style: normal;

          @media (max-width: 1099px) {
            font-size: 33px;
          }
        }
        @media (max-width: 1099px) {
          margin-bottom: 10px;
        }
      }
      div.title {
        font-size: 18px;
        line-height: 1;
        margin-top: 65px;

        @media (max-width: 1099px) {
          margin-top: 20px;
          margin-bottom: 40px;
        }
      }
      div.desc.top {
        text-align: left;
        margin-bottom: 60px;
      }
      div.wrapper {
        padding-top: 65px;
        text-align: center;

        @media (max-width: 1099px) {
          white-space: nowrap;
          padding-top: 30px;
        }
      }
      div.col {
        width: calc(100% / 7);
        padding: 0 25px;
        position: relative;
        // float: left;

        @media (max-width: 1099px) {
          width: 50%;
          padding: 0 12px;
          float: left;
        }

        img.hover-bg {
          display: none;
          position: absolute;
          top: -15px;
          left: 0;
          right: 0;
          margin: 0 auto;
          width: calc(100% - 20px);
          z-index: -1;
        }
        &:hover {
          img.hover-bg {
            @media (min-width: 1100px) {
              display: block;
            }
          }
        }
      }
    }
  }
}

section.product-image-text.chain-guide--text-image {
  padding: 80px 115px;

  @media (max-width: 1099px) {
    padding: 60px 24px;
  }

  h2.title {
    font-size: 32px;
    line-height: 1;

    @media (max-width: 1099px) {
      font-size: 24px;
      text-align: center;
    }
  }
  div.image-wrapper {
    div.bg-image {
      top: 0;
      bottom: auto;
      width: 95%;
      height: 95%;
    }
    img {
      border-radius: 500px;
      padding-left: 5%;
      padding-top: 5%;
      padding-bottom: 0;
    }
  }
  @media (max-width: 1099px) {
    div.wrapper {
      display: table;
    }
    div.col {
      float: none;

      &.left {
        display: table-footer-group;
      }
      &.right {
        display: table-header-group;
      }
    }
  }
}

section.product-image-text.chain-guide--text-image-2 {
  padding: 80px 0 0;

  @media (max-width: 1099px) {
    padding: 60px 0 0;

    div.wrapper.pad {
      padding: 0 50px;
    }
  }

  h2.title {
    text-align: center;

    &.fancy {
      margin-bottom: 80px;

      @media (max-width: 1099px) {
        margin-bottom: 60px;
      }

      p {
        font-size: 46px;
        margin: 0;
        line-height: 1;

        @media (max-width: 1099px) {
          font-size: 30px;
        }
      }
      i, em {
        font-size: 48px;
        vertical-align: middle;
        font-family: 'Sacramento', cursive;
        font-style: normal;

        @media (max-width: 1099px) {
          font-size: 33px;
        }
      }
    }
    @media (max-width: 1099px) {
      margin-top: 0 !important;
    }
  }
  div.title {
    font-weight: 500;
    font-size: 32px;
    line-height: 1;
    color: #2A2A5F;
    position: relative;

    @media (max-width: 1099px) {
      font-size: 24px;
      margin: 15px 0 60px;
      padding: 0 30px;
    }
  }
  img.br {
    border-radius: 400px;
  }
  div.wrapper:not(.nopad) {
    padding: 0 115px;

    @media (max-width: 1099px) {
      padding: 0 24px;
    }
  }
  div.wrapper.nopad {
    margin-top: -14vw;

    div.col.right {
      padding-right: 120px;
      padding-top: 5vw;

      @media (max-width: 1099px) {
        padding: 0 24px;

        div.image-wrapper {
          padding: 0 30px;
        }
      }
    }
  }
  div.wrapper.mobile-reverse {
    @media (max-width: 1099px) {
      display: table;

      div.col {
        float: none;

        &.left {
          display: table-footer-group;
        }
        &.right {
          display: table-header-group;
        }
      }
    }
  }
  div.col {
    vertical-align: middle;

    @media (max-width: 1099px) {
      text-align: center;
    }

    &.left {
      div.image-wrapper {
        div.bg-image {
          border-radius: 400px 400px 0 0;
        }
      }
    }
    &.w-100 {
      text-align: center;

      img {
        max-width: 1000px;
        margin: 60px auto 10px;
      }
      div.title {
        font-size: 46px;
        line-height: 52px;
        margin-top: 0;

        @media (max-width: 1099px) {
          font-size: 30px;
          line-height: 38px;
        }
      }
      div.desc {
        max-width: 420px;
        margin: 0 auto;

        &.pad {
          @media (max-width: 1099px) {
            padding: 0 50px;
          }
        }
      }
    }
  }
  div.subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    color: #2A2A5F;
    margin-bottom: 15px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }
  div.image-wrapper {
    img.w-100:not(.br) {
      padding: 0;
    }
  }
  img.full {
    margin-top: 40px;
  }
  a.cta.full {
    position: absolute;
    top: 18.5vw;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: block;
    width: 190px;
    padding: 0;
    line-height: 3;
    background: #FE19F5;
    color: white;

    @media (max-width: 1099px) {
      top: 46vw;
    }
  }
}

section.bracelet-guide--chain {
  position: relative;
  padding: 100px 0 60px;

  @media (max-width: 1099px) {
    padding: 30px 0 100px;
  }

  img.chain {
    width: 100%;
  }
  img.arrow {
    width: 4.3vw;
    position: absolute;
    left: 55%;
    top: 35px;

    @media (max-width: 1600px) {
      width: 3.5vw;
      top: 50px;
    }
    @media (max-width: 1099px) {
      width: 25px;
      top: 35%;
      left: 47%;
    }
  }
  div.text {
    position: absolute;
    top: 25px;
    right: 26%;
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    color: #2A2A5F;

    @media (max-width: 1099px) {
      top: 63%;
      left: 0;
      right: 0;
      text-align: center;
      margin: 0 auto;
    }
  }
}

section.staff-picks.influencers.inspo.chain-guide--gallery {
  a.view-all-link {
    @media (max-width: 1099px) {
      position: absolute;
      top: 68px;
      right: 24px;
    }
  }
  h2.title {
    @media (max-width: 1099px) {
      width: calc(100% - 170px);
      max-width: 100%;
    }
  }
  div.carousel {
    div.carousel-cell {
      @media (max-width: 1099px) {
        width: 60%;
      }
    }
  }
}

section.bracelet-guide--size-chart {
  div.guide-wrapper {
    max-width: 1150px;
    margin: 0 auto;
    background: #F9F9F9;
    padding: 70px 115px;

    @media (max-width: 1099px) {
      padding: 60px 24px;
    }

    h2.title {
      text-align: center;
      margin-bottom: 0;
    }
    h3.subtitle {
      margin-top: 80px;
      margin-bottom: 50px;
      text-align: left;
      font-size: 32px;

      @media (max-width: 1099px) {
        margin-top: 60px;
        margin-bottom: 30px;
        font-size: 24px;
      }

      img {
        vertical-align: middle;
        width: 80px;
        margin-left: 10px;
        mix-blend-mode: multiply !important;

        @media (max-width: 1099px) {
          width: 60px;
          float: right;
          margin-top: -15px;
        }
      }
    }
    table {
      width: 100%;

      @media (max-width: 1099px) {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
      }

      tr {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        &.bottom {
          border-bottom: 1px solid #2A2A5F;
        }
      }
      thead {
        @media (max-width: 1099px) {
          tr {
            border-bottom: none;
          }
        }
        td {
          font-size: 18px;
          line-height: 18px;
          font-weight: 500;

          @media (max-width: 1099px) {
            padding-bottom: 0;
          }
        }
      }
      td {
        font-size: 16px;
        line-height: 24px;
        color: #2A2A5F;
        padding: 24px 0;

        @media (max-width: 1099px) {
          padding: 14px 0;
        }

        &.first {
          width: 50%;

          @media (max-width: 1099px) {
            width: 33%;
          }
        }
        &.price {
          @media (max-width: 1099px) {
            font-weight: 500;
            font-size: 14px;
          }
        }
        &.rxs, &.rxs-inf {
          @media (max-width: 1099px) {
            text-align: right;
          }
        }
        &.cxs {
          @media (max-width: 1099px) {
            text-align: center;
          }
        }
      }
      img.link {
        width: 32px;
        margin-left: -32px;
        vertical-align: middle;
        mix-blend-mode: multiply !important;
      }
    }
  }

  &.chain-guide--size-chart {
    padding: 40px 50px;
    position: relative;

    @media (max-width: 1099px) {
      padding: 0;
    }

    img.floating-image {
      position: absolute;
      width: 270px;
      left: 0;
      top: -80px;
    }
    h2.title {
      line-height: 52px;

      @media (max-width: 1099px) {
        line-height: 38px;
        margin-bottom: 15px !important;
      }
    }
    div.chart-nav {
      background: #FFFFFF;
      border-radius: 100px;
      height: 44px;
      margin: 44px auto 110px;

      span.option {
        display: inline-block;
        height: 100%;
        padding: 0 30px;
        width: auto;
        float: left;
        text-align: center;
        line-height: 3;
        letter-spacing: 0.2em;
        font-weight: 500;
        font-size: 16px;
        cursor: pointer;

        &.selected {
          border-radius: 100px;
          background-color: #D2FDED;
        }
      }
    }
    select.chart-picker {
      width: 100%;
      max-width: 350px;
      height: 60px;
      border: 1px solid #D8D8D8;
      margin: 0 auto 30px;
      display: block;
      border-radius: 50px;
      line-height: 1.3;
      font-weight: 500;
      font-size: 16px;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: #2A2A5F;
      background-color: white;
      padding: 13px 24px;
      -webkit-appearance: none;
      -moz-appearance: none;
      background-image: url("https://cdn.shopify.com/s/files/1/0072/8455/5834/files/arrow-down.svg");
      background-repeat: no-repeat;
      background-position-x: calc(100% - 21px);
      background-position-y: 25px;
    }
    div.chart-wrapper {
      display: none;

      &#chart-cable {
        display: block;
      }

      div.col {
        vertical-align: top;

        &.table-left {
          width: 50%;
          padding-right: 2vw;
        }
        &.table-right {
          width: 50%;
        }
        @media (max-width: 1099px) {
          width: 100% !important;
          float: left;
          padding: 0 !important;
        }
      }
    }
    div.guide-wrapper {
      padding: 70px;
      padding-left: 30px;
      max-width: none;

      @media (max-width: 1099px) {
        padding: 50px 24px;
      }

      h3.subtitle {
        font-size: 30px;
        line-height: 38px;
        margin-top: 0;
        margin-bottom: 22px;

        @media (max-width: 1099px) {
          font-size: 24px;
          line-height: 1;
        }
      }
      table {
        margin-top: 40px;

        @media (max-width: 1099px) {
          margin-top: 70px;
          border: none !important;
          display: none;
        }

        tr {
          @media (max-width: 1099px) {
            &:last-child {
              border: none !important;
            }
          }
        }
        td {
          padding: 15px 0 12px;

          @media (max-width: 1099px) {
            white-space: nowrap;
          }

          &.rxs, &.rxs-inf {
            text-align: right;
            padding-right: 5px;

            @media (max-width: 1099px) {
              font-size: 14px;
              text-align: right;
              padding-right: 0;
            }
          }
          &.gold, &.solid-gold {
            @media (max-width: 1099px) {
              display: none;
            }
          }
          &.center {
            text-align: center;
          }
          &.first {
            width: 40%;
            @media (max-width: 1099px) {
              width: auto;
            }
          }
        }
        span.variant-wrapper {
          display: inline-block;

          @media (min-width: 1100px) {
            display: none !important;
          }

          span.pipe {
            display: inline-block;
            width: 2px;
            height: 18px;
            background-color: #2A2A5F;
            vertical-align: middle;
            margin-left: 11px;
            margin-right: 4px;
          }
          span.swatch-outer {
            display: inline-block;
            width: 24px;
            height: 24px;
            border-radius: 20px;
            margin-left: 4px;
            border: 1px solid white;
            padding: 2px;
            vertical-align: middle;

            &.selected {
              border: 1px solid black;
            }

            div.swatch-inner {
              width: 100%;
              height: 100%;
              border-radius: 20px;

              &.silver {
                background-color: #D8D8D8;
              }
              &.gold {
                background-color: #E4C385;
              }
              &.solid-gold {
                background-color: #E6D598;
              }
            }
          }
        }
        img.tooltip {
          vertical-align: middle;
          width: 16px;
          margin-left: 10px;
        }
        thead {
          td.rxs, td.rxs-inf, td {
            @media (max-width: 1099px) {
              font-size: 18px;
            }
          }
        }
      }
      a.cta {
        display: inline-block;
        font-size: 14px;
        line-height: 18px;
        margin-top: 50px;
        font-weight: 600;

        @media (max-width: 1099px) {
          margin-top: 30px;
        }
      }
      button.show-chart {
        margin-top: 40px;
        background-color: transparent;
        border-radius: 0 !important;
        width: auto;
        height: auto;
        display: inline-block;
        font-weight: 500;
        padding: 0;
        font-size: 14px;
        line-height: 18px;
        color: #2a2a5f;
        border-bottom: 1px solid #2a2a5f;

        &.opened {
          margin-top: 60px;
        }
      }
    }
    div.carousel {
      padding: 0 3vw 60px;

      @media (max-width: 1099px) {
        padding: 0 18px;
        margin-top: 30px;
      }

      div.carousel-cell {
        width: 100%;
        padding: 0 5px;
      }
      video.video {
        width: 100%;
        height: 32vw;
        object-fit: cover;
      }
      img, video.video {
        @media (max-width: 1099px) {
          width: 100%;
          height: 68vw;
          object-fit: cover;
        }
      }
      div.caption {
        text-align: center;
        margin-top: 15px;
        font-size: 16px;
        color: #2A2A5F;
      }
      .flickity-page-dots {
        bottom: 25px;
        width: calc(100% - 120px);

        @media (max-width: 1099px) {
          max-width: 300px;
          left: 0;
          right: 0;
          margin: 0 auto;
          bottom: -20px;
        }

        li.dot {
          border: 1px solid #FE19F5;
          background-color: transparent;
          opacity: 1;
          margin: 3px 8px;

          @media (max-width: 1099px) {
            width: 5px;
            height: 5px;
            margin: 0 4px;
          }

          &.is-selected {
            background-color: #FE19F5;
          }
        }
      }
      button.flickity-button {
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: 14px;
        background-position-x: 17px;
        background-position-y: 14px;
        top: 42%;

        @media (max-width: 1099px) {
          background-size: 12px;
          background-position-x: 14px;
          padding: 0;
        }

        &:focus, &:active {
          outline: none;
          box-shadow: none;
        }
        svg {
          display: none;
        }
        &.previous {
          left: -10px;
          background-image: url("https://cdn.shopify.com/s/files/1/0072/8455/5834/files/arrow-left.svg");

          @media (max-width: 1099px) {
            left: -14px;
          }
        }
        &.next {
          right: -10px;
          background-image: url("https://cdn.shopify.com/s/files/1/0072/8455/5834/files/arrow-right.svg");

          @media (max-width: 1099px) {
            right: -18px;
          }
        }
      }
    }
  }
}

.tippy-box[data-theme~='light'] {
  background-color: white;
  color: #2A2A5F;
  text-align: left;
  padding: 10px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.1);

  h3 {
    font-size: 14px;
    text-align: left;
    color: #2A2A5F;
    margin-bottom: 5px;
  }
  div {
    font-size: 14px;
    color: #2A2A5F;
    opacity: .7;
    text-align: left;
  }
}

.tippy-box[data-theme~='light'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: white;
}

section.bracelet-guide--image-text-2 {
  h2.title.top {
    text-align: center;
  }
  div.image-wrapper {
    div.bg-image {
      border-radius: 1000px;
    }
  }
  div.desc {
    @media (max-width: 1099px) {
      text-align: center;
    }
  }

  &.top {
    @media (max-width: 1099px) {
      padding-bottom: 0;
    }
  }
  &.lower-2 {
    @media (max-width: 1099px) {
      padding-top: 30px;
    }
  }
  &.lower {
    padding-top: 0;
    padding-bottom: 30px;

    @media (max-width: 1099px) {
      div.wrapper {
        display: flex;
        flex-direction: column;
      }
      div.col {
        &.left {
          order: 2;
        }
        &.right {
          order: 1;
        }
      }
    }
    div.image-wrapper {
      div.bg-image {
        border-radius: 600px 600px 0 0 !important;
      }
    }

  }
  &.second {
    div.image-wrapper {
      div.bg-image {
        border-radius: 600px 600px 0 0 !important;
      }
    }
  }
  &.third {
    @media (max-width: 1099px) {
      padding-bottom: 60px;
    }
    div.image-wrapper {
      div.bg-image {
        border-radius: 600px !important;
      }
    }
  }
}

section.bracelet-guide--image-text-3 {
  @media (max-width: 1099px) {
    padding-top: 30px;
  }
  div.image-wrapper {
    div.bg-image {
      border-radius: 0;
    }
  }
  h2.title {
    text-align: center;

    @media (max-width: 1099px) {
      margin-top: 0;
    }
  }
  div.image-wrapper {
    @media (max-width: 1099px) {
      margin: 0 30px;
    }
  }
  div.desc {
    text-align: center;
    max-width: 420px;
    margin: 0 auto 100px;

    @media (max-width: 1099px) {
      margin-bottom: 60px;
    }
  }
  div.col.right {
    h2.title {
      @media (max-width: 1099px) {
        margin-top: 30px;
      }
    }
    div.desc {
      @media (max-width: 1099px) {
        margin-bottom: 0;
      }
    }
  }
}

section.bracelet-guide--thought-starters {
  padding: 50px 6vw;
  background-color: #d2fdedc2;
  position: relative;

  @media (max-width: 1099px) {
    padding: 40px 24px 150px;
  }

  h2.title {
    text-align: left;
    margin-bottom: 15px;

    @media (max-width: 1099px) {
      text-align: center;
      margin-bottom: 10px;
    }
  }
  div.desc {
    @media (max-width: 1099px) {
      text-align: center;
    }
    &.right {
      position: absolute;
      right: 6vw;
      top: 110px;
      font-weight: 500;
      font-size: 18px;

      @media (max-width: 1099px) {
        position: initial;
        margin-top: 45px;
      }
    }
  }
  div.image-wrapper {
    background: white;
    position: relative;
    margin-top: 50px;
    padding-right: 8%;

    @media (max-width: 1099px) {
      padding: 34vw 0 27.5vw;
      margin-top: 25px;
    }

  }
  img.checkmark {
    position: absolute;
    width: 2vw;

    &.checkmark-1 {
      left: 6%;
      top: 32%;
      transform: scaleX(-1) rotate(-55deg);

      @media (max-width: 1099px) {
        transform: none;
        left: 30%;
        top: 11%;
        width: 5vw;
      }
    }
    &.checkmark-2 {
      left: 33%;
      top: 16%;
      transform: rotate(-8deg);

      @media (max-width: 1099px) {
        transform: none;
        left: 57%;
        top: 28%;
        width: 6vw;
      }
    }
    &.checkmark-3 {
      left: 64%;
      top: 61%;
      transform: rotate(95deg);

      @media (max-width: 1099px) {
        transform: none;
        left: 15%;
        top: 56%;
        width: 5.2vw;
      }
    }
    &.checkmark-4 {
      left: 86%;
      top: 47%;
      transform: rotate(130deg);

      @media (max-width: 1099px) {
        transform: none;
        left: 78%;
        top: 69%;
        width: 7vw;
      }
    }
    &.checkmark-5 {
      width: 36px;
      left: 17%;
      bottom: -3%;

      @media (max-width: 1099px) {
        transform: rotate(-80deg);
        left: 46%;
        bottom: -6%;
      }
    }
  }
  div.desc.floating {
    position: absolute;
    font-weight: 500;

    @media (max-width: 1099px) {
      font-size: 18px;
    }

    &.desc-1 {
      left: 5%;
      top: 29%;

      @media (max-width: 1200px) {
        top: 28%;
      }
      @media (max-width: 1099px) {
        top: 6%;
        left: 12%;
      }
    }
    &.desc-2 {
      left: 30%;
      top: 12%;

      @media (max-width: 1200px) {
        top: 11%;
      }
      @media (max-width: 1099px) {
        top: 82%;
        left: 7%;
        max-width: 102px;
        text-align: left;
      }
    }
    &.desc-3 {
      left: 68%;
      top: 70%;

      @media (max-width: 1200px) {
        top: 69%;
      }
      @media (max-width: 1099px) {
        top: 79%;
        left: 65%;
        max-width: 95px;
        text-align: left;
      }
    }
    &.desc-4 {
      left: 86%;
      top: 59%;

      @media (max-width: 1200px) {
        top: 58%;
      }
      @media (max-width: 1099px) {
        top: 20%;
        left: 58%;
        max-width: 100px;
        text-align: left;
      }
    }
    &.desc-5 {
      left: 20%;
      bottom: 1%;

      @media (max-width: 1200px) {
        left: 21%;
        bottom: 2%;
      }
      @media (max-width: 1099px) {
        left: 59%;
        bottom: -7%;
      }
    }
  }
  img.floating-image {
    position: absolute;
    width: 24vw;
    left: 0;
    bottom: -20vw;

    @media (max-width: 1099px) {
      width: 275px;
      bottom: -100px;
    }
  }
}

section.bracelet-guide--copilot {
  @media (max-width: 1099px) {
    padding: 115px 24px 60px !important;
  }
  h2.title.top {
    margin-bottom: 20px !important;

    @media (max-width: 1099px) {
      margin-bottom: 10px !important;
    }
  }
  div.desc {
    text-align: center;
    max-width: 515px;
    margin: 0 auto 30px;
  }
  img {
    width: 460px;
    margin: 0 auto;
    display: block;
  }
  a.cta {
    &.upper {
      margin-top: 0;
      margin-bottom: 80px;

      @media (max-width: 1099px) {
        margin-bottom: 30px;
      }
    }
  }

  &.bracelet-guide--wear {
    background-color: #d2fdedc2;

    @media (max-width: 1099px) {
      padding: 60px 24px !important;
    }
  }
}

section.bracelet-guide--cta {
  padding: 115px;
  text-align: center;

  @media (max-width: 1099px) {
    padding: 60px 24px;
  }

  h2.title, div.desc {
    margin-bottom: 24px;
    line-height: 1;
  }
  h2.title {
    @media (max-width: 1099px) {
      margin-bottom: 15px;
    }
  }
  a.cta {
    margin-top: 0;
  }

  &.chain {
    padding-bottom: 15px;
  }
}

section.getting-started--hero {
  padding: 50px;

  @media (max-width: 1099px) {
    padding: 40px 24px;
  }

  a {
    border: none;
  }
  h1.title, h1.title p {
    font-weight: 500;
    font-size: 46px;
    line-height: 52px;
    text-align: center;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(transparent, transparent),
                url('https://cdn.shopify.com/s/files/1/0072/8455/5834/files/pexels-gradienta-7130546_4-min.jpg') repeat;
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0 0 15px;

    @media (max-width: 1099px) {
      font-size: 30px;
      line-height: 38px;
      background-size: cover;
    }
  }
  div.desc {
    font-size: 16px;
    line-height: 24px;
    color: #2A2A5F;
    max-width: 510px;
    margin: 0 auto;

    @media (max-width: 1099px) {
      text-align: center;
    }
  }
}


section.getting-started--collection {
  padding: 0 20px 50px;
  max-width: 1300px;
  margin: 0 auto;

  @media (max-width: 1099px) {
    padding: 0 24px;
  }

  &.promotion {
    padding-top: 50px;
  }

  hr.gs-line {
    border-color: #2a2a5f72;
    max-width: 1300px;
    margin: 0 auto 70px;

    @media (max-width: 1099px) {
      margin-bottom: 40px;
    }
  }
  h2.title {
    margin-bottom: 0;
    line-height: 1;
    font-size: 32px;

    @media (max-width: 1099px) {
      font-size: 24px;
    }
  }
  div.desc {
    font-size: 16px;
    line-height: 24px;
    color: #2A2A5F;
    text-align: center;
    white-space: normal;

    @media (max-width: 1099px) {
      margin-top: 30px;
      white-space: normal;
    }
  }
  div.column {
    width: 50%;

    @media (max-width: 1099px) {
      width: 100%;
    }

    &.left {
      padding-right: 4.5vw;
    }
    &.right {
      padding-left: 4.5vw;
    }
    img {
      margin-top: 40px;

      &.special {
        margin-top: -8px;
        margin-left: -24px;
        width: calc(100% + 65px);
        max-width: none;
      }

      @media (max-width: 1099px) {
        margin-top: 30px;
      }
    }
    h2.title {
      margin-top: 50px;
      margin-bottom: 15px;
      text-align: center;
    }
    a.cta {
      margin: 25px auto 140px;
      display: block;
      width: 175px;
      height: 44px;

      @media (max-width: 1099px) {
        margin: 17px auto 80px;
      }
    }
  }
}

section.getting-started--glossary {
  padding: 70px 20px;
  background: #F9F9F9;

  @media (max-width: 1099px) {
    margin-top: 36px;
  }

  h2.title {
    font-size: 46px;
    margin-bottom: 90px;

    @media (max-width: 1099px) {
      font-size: 30px;
      margin-bottom: 30px;
    }
  }
  div.tab-container {
    max-width: 1300px;
    margin: 0 auto;
    width: 100%;
  }

  div.faq-tab {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    &.first {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
    div.faq-title {
      cursor: pointer;
      padding: 24px 0;
      font-size: 18px;
      position: relative;
      font-weight: 500;
      color: #2A2A5F;
      padding-right: 22px;

      @media (max-width: 1099px) {
        padding: 24px 0 20px;
      }

      &:after {
        content: '+';
        position: absolute;
        right: 0;
        top: 23px;
        font-size: 26px;
        font-weight: 500;
      }
    }
    &.selected {
      div.faq-title {
        font-size: 32px;

        @media (max-width: 1099px) {
          font-size: 24px;
        }
        &:after {
          content: '-';
          font-size: 32px;
          top: 20px;
          right: 1px;
        }
      }
    }

    div.faq-content {
      display: none;
      padding: 50px 0;
      font-weight: 400;
      color: #2A2A5F;
      font-size: 16px;
      line-height: 24px;

      @media (max-width: 1099px) {
        padding: 0 0 20px;
      }

      img {
        width: 230px;
        vertical-align: middle;
        display: inline-block;
        margin-right: 50px;

        @media (max-width: 1099px) {
          width: 144px;
          display: block;
          margin: 0 auto 20px;
        }
      }
      p {
        margin-bottom: 10px;
        display: inline-block;
        font-size: 16px;
        line-height: 24px;

        @media (max-width: 1099px) {
          margin-top: 0;
        }

        &:last-of-type {
          margin-bottom: 0;
        }

        a {
          text-decoration: underline;
        }
      }

      &.first {
        display: block;
      }
      &.image-present {
        p {
          @media (min-width: 1100px) {
            width: calc(100% - 350px);
          }
        }
      }
    }
  }
}

section.staff-picks.influencers.inspo {
  position: relative;

  div.carousel {
    div.carousel-cell {
      width: 28%;

      @media (max-width: 1099px) {
        width: 78%;
      }
    }
  }
  h2.title {
    margin-bottom: 24px;
  }
  div.desc {
    margin-left: 40px;
    margin-bottom: 75px;
    margin-top: 0;
    font-weight: 400;
    font-size: 16px;

    @media (max-width: 1099px) {
      margin-left: 0;
      margin-bottom: 22px;
      padding: 0;
      text-align: left;
      padding-right: 24px;
    }
  }
  a.view-all-link {
    position: absolute;
    right: 30px;
    top: 100px;
    float: none;

    @media (max-width: 1099px) {
      position: initial;
      margin-bottom: 30px;
      display: inline-block;
    }
  }
  .progress-wrapper {
    height: 2px;
    background: #2a2a5f54;
    border-radius: 2px;
    margin-top: 35px;
    margin-bottom: 30px;
    width: calc(100% - 20px);
  }
  .progress-bar {
    height: 100%;
    width: 0;
    background: #2A2A5F;
    border-radius: 2px;
  }
}

section.getting-started.bracelet-guide--cta {
  background: #D2FDED;

  h2.title {
    @media (max-width: 1099px) {
      font-size: 30px;
      margin-bottom: 20px;
    }
  }
  div.desc {
    @media (max-width: 1099px) {
      font-size: 16px;
      margin-bottom: 30px;
    }
  }
  a.cta {
    background: #2A2A5F;
    color: white;
  }
}
