.breadcrumbs{
    ol{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 0;
        padding: 0.25rem 0;

        li{
            &:after{
                content: "›"; 
                padding: 0 0.25rem;
                display: inline-block;
            }
        }
    }
}